<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.co.bcd.board.post.model.dto.Post" alias="post" />
		<typeAlias type="kr.co.bcd.board.vote.model.dto.Vote" alias="vote" />
		<typeAlias type="kr.co.bcd.board.comment.model.dto.Comment" alias="comment" />
		
		<typeAlias type="kr.co.bcd.chat.model.dto.ChatMsg" alias="chatMsg" />
		<typeAlias type="kr.co.bcd.chat.model.dto.ChatRoom" alias="chatRoom" />
		
		<typeAlias type="kr.co.bcd.member.model.dto.Member" alias="member" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/board/board-mapper.xml"/>
		<mapper resource="/mappers/chat/chat-mapper.xml"/>
		<mapper resource="/mappers/member/member-mapper.xml"/>
	</mappers>
</configuration>